.admin-hero{
    width:100%;
    background-image:url(../../bg_images/web_bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    display:inline-block;
    z-index:900;
    height:100%;
    min-height:100%;
}
.admin-login-wrapper{
	width: 1100px;
	transform-style: preserve-3d;
	margin:auto;
	margin-top:10%;
	height: 360px;
	z-index:900;
}

.login_ {
    width: 400px;
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
    height: 360px;
}


.in_login {
    width: 360px;
    float: left;
    margin: 20px;
    height: 345px;
    }

 .inlogin_2 {
    width: 100%;
    height: 195px;
    margin-top: 10px;
    float: left;
}
.ruler{
	width:100%;
	height:auto;
	margin-top:40px;
	float:left;
}

.side-login{
    width:650px;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
    float: right;

}

/*facebook and twitter*/

.social-media{
    width: 50%;
    float: left;
    height: auto;
}